@font-face {
  font-family: 'title';
  src: url('fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'buttons';
  src: url('fonts/CaviarDreams.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

#main {
  opacity: 0;
  transition: opacity 1.5s ease;
}

#main.visible {
  opacity: 1;
}

.nav {
    position: fixed;
    top: -3px;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7); /* Můžeš upravit průhlednost, aby nebyl úplně neviditelný */
    backdrop-filter: blur(2px); /* volitelné – pěkný efekt skla */
    border-radius: 20px;
}

.nav button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  font-family: buttons;
}

.nav .active {
  background: white;
  color: black;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 60px;
}

.background {
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
  color: white;
  width: 100%;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
}

.hero-text h1 {
  font-size: 2rem;
  font-family: title;
}

.hero-text h2 {
  font-size: 4rem;
  font-weight: bold;
  font-family: title;
}

.person-locator {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  display: flex;
}

.person {
  display: flex;
  top: 100px;
  width: 600px;
  object-fit: contain;
  z-index: 2;
  position: relative;
  left: 30px;
}

.social-icons {
  position: absolute;
  top: 35%;
  left: 1rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.buttons-locator {
  width: 100%;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: end;
  display: flex;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 3;
  bottom: 6rem;
  font-family: buttons;
}

.portfolio-btn,
.contact-btn,
.scroll-btn {
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.portfolio-btn {
  transition: 1s;
  background: none;
  border: 2px solid white;
  color: white;
}

.portfolio-btn:active {
  background: white;
  color: black;
}

.portfolio-btn.enlarged {
  transform: scale(1.2);
  transition: transform 1s ease;
}

.contact-btn {
  transition: 1s;
  background: white;
  color: black;
}

.contact-btn:active {
  background: none; 
  border: 2px solid white;
  color: rgb(255, 255, 255);
}

.scroll-btn {
  display: flex;
  object-fit: fill;
  padding-top: 30px;
  height: 30px;
  width: 60px;
  justify-content: center;
  align-items: center;
}

.scroll-btn img {
  width: 170px;
}

.scroll-btn.bouncing1 {
  animation: bounce1 1s ease-in-out;
}

@keyframes bounce1 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-4px);
  }
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.bubble-img {
  position: absolute;
  bottom: -60px;
  animation: floatIcon linear forwards;
  will-change: transform;
  pointer-events: none;
}

@keyframes floatIcon {
  to {
      transform: translateY(-120vh) translateX(-60vh) rotateX(720deg) rotateY(720deg) rotateZ(720deg);
      opacity: 0;
  }
}

.flexbox1 {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.text1 {
  width: 75%;
  font-size: 2.5vh;
  padding: 1rem;
  text-align: center;
  font-family: buttons;
}

.flexbox2 {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  position: relative;
}

.hero-text2 {
  text-align: center;
  z-index: 1;
  color: white;
  width: 100%;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
}

.hero-text2 h1 {
  font-size: 2rem;
  font-family: title;
}

.hero-text2 h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: title;
}

.selection-locator {
  position: absolute;
  display: flex;
  width: 100%;
  padding-top: 100px;
  justify-content: center;
}

.selection-flexbox {
  display: flex;
  flex-direction: column;
  height: 80vw;
  width: 80%;
}

.row {
  display: flex;
  flex: 1;
}

.selection-flexbox > .row:nth-child(1) > .selection-s:nth-child(1):hover {
  opacity: 1;
  top: -10%;
  left: -5%;
}

.selection-flexbox > .row:nth-child(1) > .selection-s:nth-child(2):hover {
  opacity: 1;
  top: -10%;
  left: 5%;
}

.selection-flexbox > .row:nth-child(2) > .selection-s:nth-child(1):hover {
  opacity: 1;
  top: 10%;
  left: -5%;
}

.selection-flexbox > .row:nth-child(2) > .selection-s:nth-child(2):hover {
  opacity: 1;
  top: 10%;
  left: 5%;
}

.selection-s {
  flex: 1;
  position: relative;
  opacity: 0.6;
  z-index: 100;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.selection-s img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.section2-1 {
  width: 100%;
  position: relative;
  z-index: 100;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-hand {
  height: 200px; /* nebo jiná výška podle potřeby */
  display: flex; /* musí být flex */
  align-items: center; /* vertikální zarovnání */
  justify-content: center; /* horizontální zarovnání */
  position: relative;
}

.icon-hand img {
  object-fit: cover;
  width: 80px;
  max-width: 100%;
  height: auto;
  transform: rotate(90deg);
  left: 4px;
  position: relative;
  animation: hand 2s linear infinite;
}

@keyframes hand {
  0%, 100% {  
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
}

:root {
  --item-height: 50px;
  --item-gap: 10px;
  --container-height: calc((var(--item-height) * 7) + (var(--item-gap) * 6));
  --top-padding: calc((var(--container-height) - var(--item-height)) / 2);
}

.scroll-container {
  font-family: buttons;
  overflow-x: hidden;
  width: 160px;
  height: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--item-gap);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: none;
  position: relative;
  right: 10px;
  z-index: 10;
  background-image: url(index/img/fade.png);
  background-size: 100% 100%;   /* 👈 Stretch na celou šířku i výšku */
  background-repeat: no-repeat;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scroll-items {
  width: 160px;
  flex: 0 0 var(--item-height);
  box-sizing: border-box;
  padding-inline: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 16pt;
  line-height: var(--item-height);
  opacity: 0.5;
  transition: transform 0.3s, font-size 0.3s, opacity 0.3s;
  scroll-snap-align: center;
  pointer-events: none;
  position: relative;
  z-index: 10;
}

.scroll-items:has(:checked) {
  font-size: 20pt;
  transform: scale(1.3);
  opacity: 1;
  z-index: 1;
  font-weight: bold;
  pointer-events: all;
}

.scroll-items:first-of-type {
  margin-top: var(--top-padding);
}

.scroll-items:last-of-type {
  margin-bottom: var(--top-padding);
}

.scroll-items input {
  appearance: none;
}